body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #003d7d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

footer {
    background-color: #003d7d;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}